<DOCTYPE! html>
<html>
  <body>
        <form method="post" action="/pirates">
          <h2>Pirate</h2> 
            <h3>Pirate's Name: <input id="pirate[name]" type="text" name="pirate[name]"></h3>
            <h3>Pirate's Weight: <input id="pirate[weight]" type="text" weight="pirate[weight]"></h3>
            <h3>Pirate's height: <input id="pirate[height]" type="text" height="pirate[height]"></h3><br>

          <h2>First Ship</h2>

            <h3>Ship's Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></h3>
            <h3>Ship's Type: <input id="ship_type_1" type="text" type="pirate[ships][][type]"></h3>
            <h3>Ship's Booty: <input id="ship_booty_1" type="text" booty="pirate[ships][][booty]"></h3><br>

          <h2>Second Ship</h2>

            <h3>Ship's Name: <input id="ship_name_2" type="text" name="ship[1][name]"></h3>
            <h3>Ship's Type: <input id="ship_type_2" type="text" type="ship[1][type]"></h3>
            <h3>Ship's Booty: <input id="ship_booty_2" type="text" booty="ship[1][booty]"></h3><br>
            <input type="submit" value="Submit">
        </form>
  </body>
</html>

